<h1>Liste des t창ches</h1>
<%= link_to "Ajoutez une t창che", new_task_path %>
<ul>
  <% @tasks.each do |task| %>
    <li><%= task.description %> <%="*" * task.importance %></li>
    <p><%= task.category %>  /  <%= task.due_date %></p>
    <%= link_to "Modifiez la t창che", edit_task_path(task) %>    <%= link_to "Supprimez la t창che", task_path(task), method: :delete %>
  <% end %>
</ul>
